/* 
    Created on : Jun 29, 2014, 9:44:23 PM
    Author     : Niles Madison <niles.madison@gmail.com>
*/

/*-- Tree Stuff */
.pending-node 
{
	font-weight: bold;
	font-style: italic;
}
.folder-node
{
	color: #FFD53C;
}
.document-node
{
	color: #C5BFBF;
}
.loading-node
{
	color: #4224FF;
}

/* -- Tree Stuff Done -- */

.header-buffer {
	padding-top: 10px;
}

.perform-copy-button, .perform-refresh-button {
	width: 100%;
}

.center-content {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.main {
	max-width: 100%;
	margin: 0 auto;
}

.hidden {
	visibility: hidden;
	display: none;
}

.errorLoginMsg {
	visibility: hidden;
	display: none;
	/*
	 * color: red;
	*/
}

.body {
	max-width: 90%;
	margin: 0 auto;
}

.login-body {
	width: 60%;
	float: right;
	vertical-align: middle;
}

.header-logo {
	padding-left: 20px;
}

.fill {
	width: 100%;
}

.project-container {
	width: 95%;
	margin: 0 auto;
}

#droppableSample {
	min-height: 200px;
	height: 100%;
	padding: 0.5em;
	width: 100%;
	border: 1px solid #AAAAAA;
	background-color: teal;
	color: white;
	border: 1px solid black;
	height: 100%;
}