/* 
    Created on : Jun 29, 2014, 9:44:23 PM
    Author     : Niles Madison <niles.madison@gmail.com>
*/
.header-buffer{
    padding-top: 10px;
}

.center-content{
    text-align: center;
    vertical-align: bottom;
}

.body {
    max-width: 90%;
    margin: 0 auto;
}

.header-logo{
    padding-left: 20px;
}

.fill{
	width: 100%;
}
